@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto+Condensed&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #2A7AE4;
    --cor2: #EAF2FD;
    --cor3: #464646;

    --font: 'Raleway', sans-serif;
}

body {
    font-family: var(--font);
    background-color: white;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

nav input {
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 50px;
    width: 300px;
}

.login {
    text-decoration: none;
    border: 1px solid var(--cor1);
    color: var(--cor1);
    padding: 10px 50px;
    font-weight: bold;
}

.login:hover {
    background-color: var(--cor2);
}


header {
    height: 300px;
    background-image: url('../imagens/hero.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20%;
}


header h1 {
    color: white;
    font-size: 2.5em;
}

header p {
    color: white;
    font-weight: bold;
}

header a {
    transition-duration: 0.5s;
}

header > a:hover {
    transform: scale(.95);
}

main {
    margin: auto;
    max-width: 1400px;
}

main a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

section.flex-container {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 25px 0px 25px 0px;
}

section h2 {
    padding-bottom: 15px;
}

section p {
    padding-bottom: 10px;
}

section div {
    margin: 10px;
}

div.mais {
    text-align: right;
}

img.produtos {
    width: 176px;
    height: 174px;
}

aside {
    background-color: var(--cor2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

li {
    margin-bottom: 20px;
}

li a {
    text-decoration: none;
    color: var(--cor3);
    transition: 0.5s;
}

li > a:hover {
    text-decoration: underline;
    
}

fieldset {
    border: none;
}

legend {
    font-size: 0.8em;
    font-weight: bolder;
    margin-bottom: 5px;
}

aside input {
    display: block;
    border: none;
    width: 560px;
    height: 56px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 3px;
}

textarea {
    display: block;
    border: none;
    width: 560px;
    height: 82px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 3px;
}

.submit {
    background-color: var(--cor1);
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.5s;
}

.submit:hover {
    transform: scale(.95);
}

footer {
    margin: 20px;
}

footer > p {
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: var(--cor3);
    transition-duration: 0.5s;
    font-weight: bold;
}

footer > p > a::after {
    content: '\00A0\1F517';
}

footer > p > a:hover {
    background-color: #46464652;
    transform: scale(0.95);
    padding: 2px;
    border-radius: 3px;
}